.chats {
    max-width: 700px;
    overflow-y: auto;
    padding: 8rem;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}


.gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userMessage {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
    margin-left: 15rem;
    max-width: 500px;
    width: fit-content;
}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;
}
.gptMessage {
    text-align: left;
    line-height: 1.6;
    white-space: normal;
}

.gptMessage p {
    margin: 8px 0;
}

.gptMessage pre {
    background-color: #000 !important;
    color: #fff !important;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

.gptMessage pre code {
    background-color: transparent !important;
    color: #fff !important;
}

.gptMessage pre {
    background-color: #000 !important;
    color: #fff !important;
    padding: 15px;
    border-radius: 8px;
    white-space: pre;
    overflow-x: auto;

    scrollbar-width: thin;
    scrollbar-color: #555 #000;
}

.gptMessage pre::-webkit-scrollbar {
    height: 8px;
}

.gptMessage pre::-webkit-scrollbar-track {
    background: #000;
}

.gptMessage pre::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}